<div class="adfy-placement-add">
  <div class="tui-col_md-12 adfy-header">
    <span class="tui-text_h4">Add Placement</span>
  </div>
  <div class="container adfy-content">

    <adfy-placement-stepper (changeStep)="onChangeStep($event)"></adfy-placement-stepper>

    <container-element [ngSwitch]="step">
      <adfy-placement-step-template *ngSwitchCase="0"></adfy-placement-step-template>
      <adfy-placement-step-area *ngSwitchCase="1"></adfy-placement-step-area>
      <adfy-placement-step-finished *ngSwitchCase="2"></adfy-placement-step-finished>
    </container-element>

  </div>
</div>
