<div class="adfy-placement-add">
  <div class="tui-col_md-12 adfy-header">
    <span class="tui-text_h4">Add Placement</span>
  </div>
  <div class="container adfy-content">
    <adfy-placement-stepper (changeStep)="onChangeStep($event)"></adfy-placement-stepper>


    <ng-container *ngIf="(stepObserver$ | async) !== null">
      <container-element [ngSwitch]="(stepObserver$ | async)">
        <ng-container *ngSwitchCase="0">
          <adfy-placement-step-template></adfy-placement-step-template>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <adfy-placement-step-area></adfy-placement-step-area>
        </ng-container>

        <ng-container *ngSwitchCase="2">
          <adfy-placement-step-finished></adfy-placement-step-finished>
        </ng-container>
      </container-element>
    </ng-container>

  </div>
</div>
