

<button
  *ngIf="user$ | async as user"
  tuiButton
  appearance="flat"
  [tuiDropdownAlign]="'right'"
  [tuiDropdownContent]="content"
  [tuiDropdown]="dropdownOpen"
  (click)="onClick()"
  [pseudoHovered]="false"
  [pseudoPressed]="false"
  [iconRight]="icon"
  >
    {{ user.name }}
</button>

<ng-template #icon>
  <tui-svg src="tuiIconMoreVer"></tui-svg>
</ng-template>
<ng-template #content>

  <tui-data-list role="menu">
    <tui-opt-group>
      <a *ngFor="let item of menuItems" tuiOption [routerLink]="item.routerLink">
        {{item.label}}
      </a>
    </tui-opt-group>
  </tui-data-list>
</ng-template>
