<div class="adfy-project-list">
  <div class="tui-col_md-12 adfy-header">
    <span class="tui-text_h4">Projects</span>
  </div>
  <div class="container adfy-content">
    <div class="tui-row" *ngIf="list$ | async as projects else loading ">

      <ng-container *ngFor="let project of projects; index as i">
        <div class="tui-col_md-4">
          <adfy-project-list-item [project]="project"
           (deleteAction)="onDeleteProjectAction(project)"
           (updateAction)="onUpdateProjectDialog(project)"
           (clickCardAction)="onClickCardAction(project)"
           >
          </adfy-project-list-item>
        </div>
      </ng-container>

      <div class="tui-col_md-4">
        <adfy-project-list-item-dummy (createProjectAction)="addProjectDialog()"></adfy-project-list-item-dummy>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <tui-loader class="inline-flex tui-space_right-2" [showLoader]="true" [inheritColor]="true" [overlay]="true">
  </tui-loader>
</ng-template>
