<div class="adfy-project-list">
  <div class="tui-col_md-12 adfy-header">
    <span class="tui-text_h4">Projects</span>
  </div>
  <div class="container adfy-content">
    <div class="tui-row">
      <div class="tui-col_md-4">
        <tui-island [size]="'l'" [hoverable]="true">
          <div class="adfy-project-item adfy-project-item__add"  (click)="showProjectDialog()">
            Create Project <button tuiIconButton type="button" appearance="icon" icon="tuiIconPlus" [size]="'l'"></button>
          </div>
        </tui-island>
      </div>
    </div>
  </div>
</div>

