header {
  border-bottom: 1px solid var(--tui-base-03);


  .adfy-logo {
    width: 1.875rem;
    margin-right: 0.625rem;
  }

  .adfy-logo-name {
    display: flex;
    color: var(--tui-text-01);
  }
}
